.common {
    user-select: none !important;
    display: inline-block;
    cursor: pointer;
    height: auto;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    padding: .8rem;
    font-size: .8rem;
    transition: all ease-in .3s;
    border: none;

    & + & {
        margin-left: .5rem;
    }
}

.action {
    composes: common;
    background-color: darken($color-blue-dark, 5);
    &:hover {
        background-color: darken($color-blue-dark, 10);
    }
}

.cancel {
    composes: common;
    background-color: $color-red;
    &:hover {
        background-color: darken($color-red, 5);
    }
}

.fullWidth {
    composes: common;
    width: 100%;
}