// INPUTS

input {    
	display: flex;
  font-style: normal;
  border: none;
  font-size: .9rem;
  padding: .8rem;
  border-radius: .2rem;
  border: solid 1px $color-blue;
  color: $color-dark;
	-webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-appearance: none !important;
  }

input:placeholder-shown {
    font-style: italic;
    opacity: 0.8;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color-dark;
    font-family: 'RalewayLight';
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $color-dark;
   font-family: 'RalewayLight';
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $color-dark;
   font-family: 'RalewayLight';
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $color-dark;
   font-family: 'RalewayLight';
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: $color-dark;
  font-family: 'RalewayLight';
}

label.ng-invalid, input.ng-invalid {
	box-shadow: 0 0px 2px 0px $color-red !important;
}



input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $color-blue-light inset;
    color: $color-light;
    -webkit-text-fill-color: $color-light !important;
}

label.ng-invalid, input.ng-invalid{
    box-shadow: 0 0 5px 1px red;
}

