.header {
	
	color: $color-light;

	height: 100%;
	display: flex;
	align-items: center;


	&__menu {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    height: 100%;
	    border-bottom: solid 3px $color-blue-dark;
	    border-right: solid 1px $color-blue-dark;
	    color: $color-light;
	    text-transform: uppercase;
	    padding: .5rem 1.3rem;
    	font-size: .8rem;
	    cursor: pointer;

	    > i {
	    	font-size: 1.8rem;
	    	margin-bottom: .3rem;
	    }
	}

	&__breadcrumb {
	    margin-left: 1rem;
	    text-transform: uppercase;
	}



	&-visibleMenu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	    justify-content: center;

		position: absolute;
		top: 0;
		right: 0;
		bottom:0;
		left:0;
		margin:0 auto;
		padding: 15%;
		z-index: 1;
		
		color: $color-dark;
		background-color: rgba($color-light, .95);

		&__block {
			display: flex;
			flex: 0 1 50%;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			cursor: pointer;
			text-transform: uppercase;
			height: 8rem;
			background: none;
			transition: background ease-in .3s;

			> i {
			    font-size: 2.5rem;
			}

			&:hover {
				background: rgba(darken($color-light, 10) , .1);
			}
		}

		&__close {
		    position: absolute;
		    cursor: pointer;
		    bottom: 1rem;
		    right: 1rem;
		    font-size: 2.5rem;
		}
	}









	&-nav {
		display: flex;
		flex: 0 1 75%;
		align-items: flex-end;

		&__item {
			background: darken($color-blue, 5);
			padding: 1rem;
			border-radius: .3rem .3rem 0 0;

			text-transform: uppercase;
			cursor: pointer;

			transition: .3s ease all;

			&:hover {
				background: $color-blue;
			}

			&--isActive {
				background: $color-light;
				color: $color-blue;
				&:hover {
					background: $color-light;
					color: $color-blue;
				}
			}

			& + & {
				margin-left: .5rem;
			}
		}
	}

	&-user-wrapper {
		cursor: pointer;
	}
	
	&-user-account {
		position: relative;
		display: flex;
	    flex: 0 1 25%;
    	align-items: center;
    	justify-content: space-between;

    	background: darken($color-blue, 5);
    	padding: 1rem;
	}

	&-user-avatar {
		height: 5rem;
		> img {
			height: 100%;
		}
	}
	
	&-user-resume {
		display: flex;
		flex-direction: column;
		margin: 0 1rem;
		span {
			text-align: center;
			&:not(:first-child) {
				margin-top: .5rem;
				font-style: italic;
				text-align: left;
				color: $color-grey;
			}
		}
	}

	&-navDropdown {
		display: flex;
		flex-direction: column;
		max-height: 0;
		
		overflow: hidden;
		background: darken($color-blue, 5);
		border-top: solid 1px $color-blue-dark;
		transition: max-height ease .3s;
		&--isActive {
			max-height: 30rem;
			border-radius: 0 0 .3rem .3rem;
		}

		&__block {
			padding: 1rem;
			margin: 1rem;
			background: $color-blue;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-transform: uppercase;
			> i {
				font-size: 2rem;
			}
			> span {
				margin-top: 1rem;
			}

			&:first-child {
				padding: 3rem 1rem;
			}
			& + & {
				margin: 0 1rem 1rem;
			}

			&--row {
				> i {
					font-size: 1.2rem;
					margin-right: .5rem;
				}
				justify-content: center;
				flex-direction: row;
			}
		}
	}
}