.home {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&__actions {
		display: flex;
		flex: 1 1 100%;
		justify-content: space-between;
		align-items: center;

		&-search {
			display: flex;
			align-items: center;
		}

		&-input {
			width: 20rem;
		}
	}

	&__content-wrapper {
		display: flex;
		height: 100%;
		border: solid 2px $color-light;

		@media (max-width: 1368px) {
			display: flex;
			height: 100%;
			border: solid 2px $color-light;
			flex-direction: column;
		}
	}

	&__aside {
		position: relative;
		flex: 0 1 25%;
		flex-direction: column;
		align-content: stretch;
		border-right: solid 2px $color-light;
		height: 100%;
	    overflow: auto;

		@media (max-width: 1368px) {
			flex: 0 1 35%;
			display: flex;
			flex-direction: row;
			border-right: none;
		}


		&--gmaps {
			flex: 0 1 75%;
			border: none;
			overflow: hidden;

			@media (max-width: 1368px) {
				flex: 0 1 65%;
				flex-direction: row;
				border-right: none;
			}
		}


	}

	&__store {
		position: relative;
		height: calc(100% / 3);
		background: $color-light;
		color: darken($color-blue-dark, 10);
		cursor: pointer;
		background-size: 100% 100%;
		background-position: center center;
		transition: background-size .3s ease;

		@media (max-width: 1368px) {
			height: auto;
			flex: 0 0 50%;

			&:not(:last-child) {
				border-right: solid 1px $color-light;
			}
		}

		&:hover {
			background-size: 105% 105%;
		}

		&-resume {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 1rem;
			background: $color-blue-dark;
			color: $color-light;
			display: flex;
			justify-content: space-between;
		    border-top: solid 2px $color-light;
		}

		&-access {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;

			&__btn {
				position: absolute;
				bottom: 1.5rem;
				right: 0;
				background: white;
				color: $color-blue-dark;
				padding: .8rem;
				border-radius: 50%;
				box-shadow: 0 2px 1px $color-blue-dark;
				font-size: 2rem;
				height: 4rem;
				width: 4rem;
				text-align: center;

				&:hover {
					color: $color-blue-dark;
				}
			}
		}

		&-favorite {
			position: absolute;
			top: .5rem;
			left: .5rem;
			color: $color-light;
			font-size: 1.5rem;
			opacity: .5;

			&--checked {
				color: gold;
				opacity: 1;
			}
		}

		&:not(:last-child) {
			border-bottom: solid 1px $color-light;
		}
	}

	&__gmaps-picture {
		background-size: 100% 100%;
		background-position: center center;
		height: 10rem;
		width: 10rem;

	}
}

.angular-google-map-container {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}