<div 
	class="app-aside"
	ng-class="{'app-aside--visible' : $root.isAsideOffcanvasVisible}"
	>
	<div class="app-aside__block app-aside__block--user">
		{{mainCtrl.user.firstName}} {{mainCtrl.user.lastName}}
	</div>
	<a
		ui-sref="app.home"
		ng-class="{'app-aside__block--isActive': currentState === 'app.home'}"
		class="app-aside__block">
		<i class="icon-home"></i>
		Accueil
	</a>
	<a 
		ui-sref="app.account"
		ng-class="{'app-aside__block--isActive': currentState === 'app.account'}"
		class="app-aside__block">
		<i class="icon-cog"></i>
		Gérer mon compte
	</a>
	<a 
		class="app-aside__block">
		<i class="icon-cart"></i>
		Autre catégorie
	</a>
	<div 
		ng-click="mainCtrl.logout()"
		class="app-aside__block app-aside__block--logout">
		<i class="icon-switch"></i>
		Déconnexion
	</div>

</div>

<div class="app-main">
	<div class="app-main__container">
		<nav class="app-main-nav">
			<div class="app-main-nav__container">
				<div 
					class="app-main__menu"
					ng-click="$root.showTheOffCanvas()">
					<i class="icon-menu2"></i>
					Menu
				</div>
				<span class="app-main__breadcrumb-title">{{$state.current.data.breadcrumbTitle}}</span>
			</div>
			<div ui-view="actions" class="app-main__actions" ng-show="$state.current.data.hasActions">
				
			</div>
		</nav>
		<div class="app-main__wrapper" ng-class="{'app-main__wrapper--actions': $state.current.data.hasActions}">
			<div ui-view="content" class="app-main__content">

			</div>
		</div>
	</div>
</div>


<!--
-- Add a global modal mask here
-->
<div class="app-mask"
     ng-click="$root.onModalMaskClick(); $event.preventDefault()"
     ng-class="{
       'app-mask--visible' : $root.isModalMaskVisible
    }"
    ></div>