<div class="home">
	<div class="home__content-wrapper">
		<div class="home__aside">
			<div 
				class="home__store"
				ng-repeat="store in homeCtrl.stores"
				ng-style="{'background-image': ' url(' + store.storeImage + ')' }"
				ng-click="homeCtrl.centerStore(store.$id)"
				>
				<div 
					class="home__store-resume"
					>
					{{::store.adress.city}} <br/> {{::store.adress.street}}
					<div class="home__store-access">
						<a ui-sref="app.market({id: store.$id})" title="Accéder à la page produits" alt="Accéder à la page produits" class="home__store-access__btn">
							<i class="icon-directions"></i>
						</a>
					</div>
				</div>
				<div 
					class="home__store-favorite"
					ng-class="{'home__store-favorite--checked': store.isStarred}">
					<i 
						class="icon-star"
						ng-click="homeCtrl.toggleStarredStore(store.$id)">
					</i>
				</div>
			</div>
		</div>
		<div class="home__aside home__aside--gmaps">
			<ui-gmap-google-map center='homeCtrl.centerMap.coords' zoom='homeCtrl.userMarker.zoom' options="homeCtrl.userMarker.options">

				<ui-gmap-marker ng-repeat="marker in homeCtrl.markers track by $index" coords="marker.coords" idKey="marker.$id" click="homeCtrl.openModal(marker)" options="marker.options">
					<ui-gmap-window show="marker.visible">
		            	<div class="home__gmap-infos">
		            		{{::marker.adress.street}}
		            		<div class="home__gmaps-picture" ng-style="{'background-image':'url({{marker.storeImage}})'}"></div>
		            	</div>
		            </ui-gmap-window>
				</ui-gmap-marker>

			</ui-gmap-google-map>
		</div>

	</div>

</div>